db/src/test/resources/db-schema/database.dtd

<!ELEMENT dataset (
   (DBMAINTAIN_SCRIPTS|
    PROJECT|
    PROJECT_VERSION)*)>

<!ELEMENT DBMAINTAIN_SCRIPTS EMPTY>
<!ATTLIST DBMAINTAIN_SCRIPTS
    FILE_NAME CDATA #IMPLIED
    VERSION CDATA #IMPLIED
    FILE_LAST_MODIFIED_AT CDATA #IMPLIED
    CHECKSUM CDATA #IMPLIED
    EXECUTED_AT CDATA #IMPLIED
    SUCCEEDED CDATA #IMPLIED
>

<!ELEMENT PROJECT EMPTY>
<!ATTLIST PROJECT
    ID CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT PROJECT_VERSION EMPTY>
<!ATTLIST PROJECT_VERSION
    ID CDATA #IMPLIED
    PROJECT_ID CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

