db/src/test/resources/db-schema/database.dtd

<!ELEMENT dataset (
    CLIENT*,
    CLIENT_PROJECT*,
    PROJECT*,
    PROJECT_VERSION*)>

<!ELEMENT CLIENT EMPTY>
<!ATTLIST CLIENT
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
>

<!ELEMENT CLIENT_PROJECT EMPTY>
<!ATTLIST CLIENT_PROJECT
    ID CDATA #REQUIRED
    CLIENT_ID CDATA #REQUIRED
    PROJECT_ID CDATA #REQUIRED
>

<!ELEMENT PROJECT EMPTY>
<!ATTLIST PROJECT
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
>

<!ELEMENT PROJECT_VERSION EMPTY>
<!ATTLIST PROJECT_VERSION
    ID CDATA #REQUIRED
    PROJECT_ID CDATA #IMPLIED
    NAME CDATA #REQUIRED
>

